/* Import Componets*/
@import url('./componets/contact.css');
@import url('./componets/footer.css');
@import url('./componets/header.css');
@import url('./componets/about.css');
@import url('./componets/products.css');

/* Import Layout */
@import url('./componets/layout/banner.css');
/* Import Utilities */
@import url('./componets/utilities/variables.css');

/* Estilos globais */
body {
    font-family: var(--font-body); /* Fonte para o corpo do texto */
    font-size: var(--font-size-base); /* Tamanho base */
    line-height: 1.6; /* Altura da linha */
    color: var(--color-text); /* Cor do texto */
    background-color: #f8f9fa; /* Fundo padrão do site */
  }

  